In [5]:
# 1
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

parf=pd.read_csv('parfume.csv')

In [6]:
# 2
parf=parf[parf['vote']!=2]
parf.head(5)

   Unnamed: 0  X  id  age    group  vote
0           1  1   1   21  control     1
1           2  2   2   20  control     1
3           4  4   4   18  control     1
4           5  5   5   23  control     0
5           6  6   6   18  control     1

In [7]:
# 3
test=parf[parf['group']=='test']
control=parf[parf['group']=='control']

In [34]:
# 4
ns_control = control.vote.sum()
ns_test = test.vote.sum()

ntotal_control = control.shape[0]
ntotal_test = test.shape[0]

count = np.array([ns_control, ns_test])
nobs = np.array([ntotal_control, ntotal_test])

In [35]:
# 5
stat,pvalue=proportions_ztest(count,nobs)
print ('pvalue:', pvalue/2)

pvalue: 0.00017463865746718515

Статистический вывод.

Полученный p-value меньше уровня значимости 0.05. Следовательно, нулевую гипотезу можно отвергнуть на уровне значимости 0.05 на имеющихся данных в пользу альтернативной гипотезы.

Содержительный вывод.  
Среди девушек от 18 до 25 лет черно-белый ролик предподчительней, чем цветной.